/* *{
  padding: 0;
  margin: 0;
} */
#absolute{
  height: 300px;
  width: 1200px;
  background-color: aqua;
  border: 1px solid black;
   margin: 3px;
   position: absolute;
  
  }
#sticky{
  height: 300px;
  width: 1200px;
  background-color: blueviolet;
  border: 1px solid black;
  margin: 3px;
  position:sticky;
  top: 10px;
  }
  #fixed
    {
      height: 300px;
      width: 1200px;
      background-color:gold;
      border: 1px solid black;
      margin: 3px;
      /* position:fixed;
      top: 120px; */
  }
#relative{
  height: 300px;
  width: 1200px;
  background-color: blue;
  border: 1px solid black;
  margin: 3px;
  position:relative;
  top: 50px;
  }
#static{
  height: 300px;
  width: 1200px;
  background-color: magenta;
  border: 1px solid black;
  margin: 3px;
  /* position:static;
  top: 0px; */
  }